.application {
	width: 100%;
	height: 100%;
	background: lightcyan;
}

.applicationContent {
	height: 80vh;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
}


.attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1rem;
	font-family: Input;
	opacity: 0.8;
}
